.swal2-title {
    padding-top: 0.6em !important;
    padding-left: 5px !important;
}

.swal2-container {
    z-index: 99999 !important
}

.modal-content {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: black;
    color: white;
    text-align: center;
    border: 0px;
    border-radius: 0px;
}

.overlay-loading {
    margin-top: 22%;
    font-size: 1.5em;
}

/* ================= MODAL ================= */

.modal-body {
    height: 21em;
    overflow-y :scroll; 
}

.modal-body-delete {
    position: relative;
    padding: 1rem;
}

.modal  {
    z-index: 99999 !important;
}

.show-modal-content {
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    text-align: center;
    border: 0px;
    border-radius: 0px;
}

#modal-bt-close {
    display: none;
}

#modal-background-black {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: black;
    display: none;
    position: absolute;
    top: 0px;
    z-index: 10;
}

/* ================= MODAL ================= */