.content {
    padding-bottom: 1em !important;
}

.m-b-1em {
    padding-bottom: 1em !important;
}

#modal-criar-novo-endereco {
    margin-left: 32%;
    position: absolute;
    display: none;
    width: 30em;
    top: 3em;
    z-index: 99;
}

#modal-deletar-endereco {
    margin-left: 32%;
    position: absolute;
    display: none;
    width: 30em;
    top: 3em;
    z-index: 99;
}

.ta-left {
    text-align: left;
}
